{
  "env": {
    "browser": true
  },
  "globals": {
    "QUnit": false,
    "Schmackbone": true,
    "_": true,
    "sinon": true
  },
  "rules": {
    "no-throw-literal": 0,
    "no-undefined": 0
  }
}
